<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
    .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
     display: inline-block;
    font-size: 16px;
}
.btn{
    margin-top: 20px;
}
    </style>
</head>
<body>
    <h1>welcome to my home page rn i am working on backend so ignore my html and css :)</h1>
    <form action="register" method="get">
        <button class="button" type="submit">Register</button>
    </form>
    <form action="login" method="get">
        <button class="button btn" type="submit">Login</button>
    </form>
</body>
</html>